<html>
    <head>
        <meta charset="UTF-8">    
        <title>Babel Breaker</title>
        <script>
            setInterval(function() {
                window.location.reload();
            }, 1000);
        </script>
    </head>
    <body>
        {{ range . }}
            <p>{{.}}</p>
        {{ end }}
    </body>
</html>
